.App {
  text-align: center;
}
body.no-overflow {
    overflow-y: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hg-theme-default .hg-button {
  color: black;
  font-size: x-large;
}
.selections .card-body {
    padding: 1rem!important;
}
.category-item {
    padding:50px 20px;
    margin-left:15px;
    cursor:pointer;
    border-radius:15px;
    display: block;
    width: 90%;
}

div.cell {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid gray;
}

.cell .w-100:first-child {
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #fff;
}

.cell img {
    min-height: 12vh /*20vh */;
    height: 20vh;/*22vh;*/
    width:-webkit-fill-available;
    max-width: 10vw;
    /* padding: 10px; */
    object-fit: cover;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.cell .w-100:last-child {
    min-height: 55px;
    place-content: center;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.category {
    /* position: fixed; */
    align-items: center;
    text-align: center;
    min-height: 70px;
    gap: 10px;
    /* background: whitesmoke; */
    z-index: 1;
    border-radius: 0px;
    /* overflow: scroll; */
    /* scroll-behavior: smooth; */
    /* max-width: 10.33%; */
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.category-item.active {
    border:2px solid #8b9091;
    transition: width 2s ease-in-out, height 2s ease-in-out;
    border-radius: 15px;
    color: white!important;
    background: #996a4f!important;
    /* background: #575757!important; */
    padding:50px 16px;
}
.category.row::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}
.extras {
    display: none;
    position: absolute;
    font-size: 0.7rem;
}
.action-visible {
    height: 45vh !important;
}
.put-here .row {
    cursor: pointer
}
.chosen-product {
    align-items: center;
    border-radius: 10px;
    min-height: 70px;
    border: 2px dashed gray;
    background-color: #fff;
    position: relative
}
.selected {
    border: 3px solid #6f8a8a !important;
    background: #2b547a;
    color: white;
    span.btn, .btn {
        color: white;
    }
}
.put-here {
    height: 78vh;
    background-color: white;
    padding: 30px;
    overflow-y: auto;
    padding: 6px 26px
}
.chosen-product .w-100 {
    justify-content: space-between
}
.chosen-product .btn:not(.bx-) {
    right: 0;
    bottom: -10px;
    border-radius: 50%;
    position: absolute
}
.chosen-product .btn.bx- {
    right: 50px;
    bottom: -10px;
    border-radius: 50%;
    position: absolute
}
.chosen-product .btn.add {
    right: 100px!important;
    bottom: -10px;
    border-radius: 50%;
    position: absolute;
    &:active{
        border: none!important;
    }
}
.bx-:active {
    border:none!important;
}
.put-here::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px
}
.put-here::-webkit-scrollbar {
    width: 2px
}
.nav-item .btn,
.chosen-product .btn {
    &:active {
        border-color: transparent
    }
}
input.status[type="checkbox"],
input.pos[type="checkbox"] {
    display: none;
    ~label {
        position: relative;
        display: block;
        width: 50px;
        height: 25px;
        border-radius: 40px;
        border: 4px solid #999;
        transition: transform 200ms cubic-bezier(0.41, -0.01, 0.63, 1.09);
        cursor: pointer;
        background: rgba(black, 0.3);
        &::before,
        &::after {
            position: absolute;
            width: 22px;
            height: 17px;
            border-radius: 36px;
            content: "";
            transition: all 220ms cubic-bezier(0.76, 0.01, 0.15, 0.97)
        }
        &::before {
            background-image: linear-gradient(45deg, #383 10%, #4b4 90%);
        }
        &::after {
            background-color: #999;
        }
    }
    &:checked~label {
        border: 4px solid #fff;
        transform: scale(1.01);
        box-shadow: 0 0 120px 10px #9f9;
        border-color: #afa;
        background: rgba(green, 0.6);
        &::before {
            width: 40px
        }
        &::after {
            transform: translateX(20px);
            background-color: #4c4;
            box-shadow: -4px 0 4px rgba(black, 0.1);
        }
    }
}
form .input,
td .input {
    padding: 4px 15px;
    background: #fff;
    border: 0
}
.input {
    border: 0;
    border-bottom: 1px solid lightgray;
    width: 100% !important;
    padding: 10px
}

.input:focus {
    background: #f0f0f0 !important;
    border-radius: 6px !important;
    width: 100% !important
}

.dt-input {
    border-radius: 15px !important;
    padding-left: 15px !important
}

div.parent {
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 40px 30px
}
.chosen-product.receipt {
    align-items: center;
    border-radius: 10px;
    min-height: 60px
}
.choosen-product .w-100 {
    justify-content: space-between;
}
.remaining {
    background-color: #fdd8e3!important;
    color: darkred!important;
    border: 1px solid darkred!important;
    width: auto;
    height: 50px;
    margin-top: 0px !important;
}

.fulfilled {
    background-color: #d6eee5!important;
    color: darkgreen!important;
    border: 1px solid darkgreen!important;
    width: auto;
    height: 50px
}
.methods {
    border: 1px solid gray;
    width: auto;
    height: 50px;
    margin-top: 0px !important
}
.category.row::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}
.extras {
    display: none;
    position: absolute;
    font-size: 0.7rem;
}
.action-visible {
    height: 45vh !important;
}
.put-here .row {
    cursor: pointer
}
.chosen-product {
    align-items: center;
    border-radius: 10px;
    min-height: 70px;
    border: 2px dashed gray;
    background-color: #fff;
    position: relative
}
.selected {
    border: 3px solid #6f8a8a !important;
    background: #2b547a;
    color: white
}
.put-here {
    height: 78vh;
    background-color: white;
    padding: 30px;
    overflow-y: auto;
    padding: 6px 26px
}
.chosen-product .w-100 {
    justify-content: space-between
}
.chosen-product .btn:not(.bx-) {
    right: 0;
    bottom: -10px;
    border-radius: 50%;
    position: absolute
}
.chosen-product .btn.bx- {
    right: 50px;
    bottom: -10px;
    border-radius: 50%;
    position: absolute
}
.put-here::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px
}
.put-here::-webkit-scrollbar {
    width: 2px
}
.nav-item .btn,
.chosen-product .btn {
    &:active {
        border-color: transparent
    }
}
input.status[type="checkbox"],
input.pos[type="checkbox"] {
    display: none;
    ~label {
        position: relative;
        display: block;
        width: 50px;
        height: 25px;
        border-radius: 40px;
        border: 4px solid #999;
        transition: transform 200ms cubic-bezier(0.41, -0.01, 0.63, 1.09);
        cursor: pointer;
        background: rgba(black, 0.3);
        &::before,
        &::after {
            position: absolute;
            width: 22px;
            height: 17px;
            border-radius: 36px;
            content: "";
            transition: all 220ms cubic-bezier(0.76, 0.01, 0.15, 0.97)
        }
        &::before {
            background-image: linear-gradient(45deg, #383 10%, #4b4 90%);
        }
        &::after {
            background-color: #999;
        }
    }
    &:checked~label {
        border: 4px solid #fff;
        transform: scale(1.01);
        box-shadow: 0 0 120px 10px #9f9;
        border-color: #afa;
        background: rgba(green, 0.6);
        &::before {
            width: 40px
        }
        &::after {
            transform: translateX(20px);
            background-color: #4c4;
            box-shadow: -4px 0 4px rgba(black, 0.1);
        }
    }
}
div.parent {
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 40px 30px
}
.chosen-product.receipt {
    align-items: center;
    border-radius: 10px;
    min-height: 60px
}
.choosen-product .w-100 {
    justify-content: space-between;
}
.remaining {
    background-color: #fdd8e3;
    color: darkred;
    border: 1px solid darkred;
    width: auto;
    height: 50px;
    margin-top: 0px !important;
}

.fulfilled {
    background-color: #d6eee5;
    color: darkgreen;
    border: 1px solid darkgreen;
    width: auto;
    height: 50px
}
.methods {
    border: 1px solid gray;
    width: auto;
    height: 50px;
    margin-top: 0px !important
}
.layout-item {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999
}
.sl-spinner3 {
    height: 100%
}

.sl-spinner3 .sl-loader .sl-loader-parent .sl-circle {
    border: 10px solid #80808050;
    border-top: 10px solid gray
}

.stock-out * {
    opacity: 0.5;
    cursor: no-drop;
}

.also.active .extras,
.also:hover .extras {
    display: block
}

.tax {
    border-radius: 3px;
    /* transform: translate(1px, -180px); */
    background-color: #ffffff;
    display: grid;
    place-content: center;
    padding: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
    font-weight: 800
}
.select2-container {
    z-index: 9;
    position: relative;
}
.stock {
    border-radius: 3px;
    /* transform: translate(1px, -175px); */
    transform: translate(-86px, -147px);
    background-color: #ffffff;
    display: flex;
    place-content: center;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
    font-weight: 800
}
.box.active {
    background: #6f61ae;
    padding: 2px 10px;
    font-weight: 600;
    color: white
}
.grid-view {
    border: 1px solid gray;
    border-radius: 10px
}
.btn-inactive {
    opacity: 0.5;
    border: 0px !important
}
.selections {
    gap: 8px
}
.card.active {
    box-shadow: 4px 5px 10px;
    border: 1px solid gray
}
.card.methods.active {
    box-shadow: 4px 5px 10px;
    border: 1px solid gray;
    width: 100%;
    height: 110%;
    transition: 0.5s
}
.next.btn:active,
.prev.btn:active {
    border-color: transparent
}
.css-13cymwt-control {
    border-radius: 20px !important
}
body::-webkit-scrollbar {
    width: 0px
}
.hg-standardBtn,
.hg-functionBtn {
    font-size: x-large
}
.v-keyboard .btn {
    font-size: x-large;
}
.board-navs:not(.numeric) * {
    font-size: x-large;
}
.table tr.activated>* {
    background-color: #efefef !important
}
.toShow{display:none}  .viewer-toolbar ul{font-size:0rem}
.fully-visible { height:80vh!important }
.tax-table-receipt td, .tax-table-receipt th { padding:0.3rem 1rem!important }
.foot-btn {font-size:1rem;border:1px solid gray!important;}.numeric .hg-button{height:55px!important}

@media screen and (max-width: 1088px) {
  /* Your styles go here */
  .cell .w-100 {
    padding: 1px!important;
  }
  .calc {
    padding:4px!important;
  }
  .category-item{
    padding:6px 10px!important;
  }
  .chosen-product {
    min-height:60px;
  }
  .fs-3.btn, .container .d-flex .btn {
    line-height:0!important;
  }
  span.quantity, span.ms-3 {
    font-size:0.875rem;
  }
  .navbar .navbar-menu-wrapper, .category.row {
    height:50px;
  }
  .pos-panel.w-100 {
    margin-top:-20px;
  }
  .cell .w-100:last-child {
    min-height:30px!important;
  }
}
.btn-outline {
    border: 1px solid black;
}

.row>* {
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5)!important;
    padding-left: calc(var(--bs-gutter-x) * 0.5)!important;
    align-items: center;
    margin-top: var(--bs-gutter-y)
}
.welcome-img{
    object-fit: cover;
    max-height: 94vh;
    width: 50vw;
}
.floor-tile {
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
/* .floor-tile.dragging > *:not([data-table="free"]) {
  opacity: 0.3 !important;
} */
.floor-tile.dragging {
  background-color: rgba(0, 0, 0, 0.3);
}
.floor-tile.dragging [data-status]:not([data-status="free"]) {
  opacity: 0.3;
  pointer-events: none;
}
.floor-tile.dragging [data-status="free"] {
  opacity: 1;
}
.floor-tile.dragging [data-status="free"] {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
.table-container {
  position: relative;
  width: 120px;
  height: 120px;
}


.chair {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: #515773; /* blue chair color */
  border-radius: 10px;
  border: 3px solid black;
}

/* Chair positions */
.chair.top {
  top: -22px;
  border-radius: 12px 12px 0px 0px;
  left: 50%;
  transform: translateX(-50%);
}
.merged.chair.top {
  top: -22px;
  border-radius: 12px 12px 0px 0px;
  left: 33%;
  transform: translateX(-50%);
}
.merged.chair.top-2 {
  top: -22px;
  border-radius: 12px 12px 0px 0px;
  left: 67%;
  transform: translateX(-50%);
}
.chair.bottom {
  bottom: -22px;
  left: 50%;
  border-radius: 0px 0px 12px 12px;
  transform: translateX(-50%);
}
.merged.chair.bottom {
  bottom: -22px;
  left: 33%;
  border-radius: 0px 0px 12px 12px;
  transform: translateX(-50%);
}
.merged.chair.bottom-2 {
  bottom: -22px;
  left: 67%;
  border-radius: 0px 0px 12px 12px;
  transform: translateX(-50%);
}

.chair.left {
  left: -32px;
  top: 50%;
  border-radius: 0px 0px 12px 12px;
  transform: translateY(-50%) rotate(90deg);
}
.merged.chair.left {
  left: -32px;
  top: 33%;
  border-radius: 0px 0px 12px 12px;
  transform: translateY(-50%) rotate(90deg);
}
.merged.chair.left-2 {
  left: -32px;
  top: 67%;
  border-radius: 0px 0px 12px 12px;
  transform: translateY(-50%) rotate(90deg);
}
.chair.right {
  right: -32px;
  top: 50%;
  border-radius: 12px 12px 0px 0px;
  transform: translateY(-50%) rotate(90deg);
}
.chair.merged.right {
    right: -32px;
    top: 33%;
    border-radius: 12px 12px 0px 0px;
    transform: translateY(-50%) rotate(90deg);
}
.chair.merged.right-2 {
    right: -32px;
    top: 67%;
    border-radius: 12px 12px 0px 0px;
    transform: translateY(-50%) rotate(90deg);
}

.tax-table-receipt td, .tax-table-receipt th { padding:0.3rem 1rem!important }
.custom-file-upload {
    border: 1px solid #ccc;
    display: block;
    padding: 12px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.category::-webkit-scrollbar{
    width: 2px;
}
.selected-customer {
    /* border: 2px solid green!important; */
    border-radius: 10px!important;
    &>* {
        background-color: #ffedc7!important;
    }
}
.wrapped-text {
    width: auto;
    max-width: 425px;
    word-break: break-word;
    text-overflow: ellipsis;
    position: relative
}
.tooltiptext {
    visibility: hidden;
    max-width: 175px;
    width: 20vw;
    background-color: #a36262;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    left: 0
}
.wrapped-text:hover .tooltiptext {
    visibility: visible;
    white-space: break-spaces
}
html[data-bs-theme="dark"] {
    p, strong:not(.wrapped-text), .exception.receipt b, .exception.receipt span, .total-amount, div[data-column-id], .rdt_TableHeader, .rdt_Pagination, .sc-bbbBoY svg { color:white!important; }
    b:not(.receipt b, .actionBar b), .indicator b { color:black!important; }
    #receipt, .receipt .row, .receipt:not(.exception), .order-table div, .rdt_Pagination, .order-table tr { background-color:#282c34!important; }
    .floor-tile {
        background:linear-gradient(rgba(193, 181, 181, 0.5), rgb(7 7 7)), url(http://localhost:5101/images/floor.jpg)!important;
        background-repeat:no-repeat!important;background-size:cover!important;
    }
}
.library {
    max-height: 90vh;
    overflow: auto;
    &::-webkit-scrollbar{
        width:0px;
    }
}